body { background: #e8e8e8; }
.container { margin: 0 auto; }

.wrap {
	position: relative;
	margin: 3em 0;
}

/* Frame */
.frame {
	height: 300px;
	line-height: 300px;
	overflow: hidden;
}
.frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 30px;
}
.frame ul li {
	float: left;
	width: 227px;
	height: 100%;
	margin: 0 1px 0 0;
	padding: 0;
	background: #333;
	color: #ddd;
	text-align: center;
	cursor: pointer;
}